@font-face{
    font-family: "VCR OSD Mono";
    src: url("/misc/VCR_OSD_MONO_1.001.ttf");
}

@media screen and (max-width:900px){
    #wrapperIndex{
        display: grid;
        height: 200vh;
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 15% 10% 20% 55%;
        grid-template-areas:
            'h1Hd'
            'buyNav'
            'pMn'
            'nav'
        ; 
        background-image: url(/img/export.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        
    }
    .galleryButtonDesktop{
        display: none;
    }
    #wrapperGuide{
        display: grid;
        height: 300vh;      
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            'gridParry'
            'gridDodge'
            'gridAttack'
        ;
        background-color: black;
    }

    .anchorDelve{
        display: none;
    }
    .mobileAnchorIndex{
        text-decoration: none;
        color:#FF8BEF;
        font-family: 'VCR OSD Mono';
        font-size: 150%;

        width: 30%;
        height: 20%;
        margin: 5px;

        background-image: url('/img/dialogueBox.png');
        background-size: 104% 220%;
        background-position: center;
        background-repeat: no-repeat;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobileAnchorIndex:hover{
        text-decoration: none;
        color:#d140bd;
        font-family: 'VCR OSD Mono';
        font-size: 200%;

        width: 30%;
        height: 20%;
        margin: 5px;

        background-image: url('/img/dialogueBox.png');
        background-size: 104% 220%;
        background-position: center;
        background-repeat: no-repeat;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobileAbyss{
        text-decoration: none;
        color:#ff3967;
        font-family: 'VCR OSD Mono';
        font-size: 150%;
        text-align: center;
    
        width: 70%;
        padding: 10px;
        height: 20%;
    
        background-image: url('/img/dialogueBox.png');
        background-size: 100% 220%;
        background-position: center;
        background-repeat: no-repeat;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .currentImage{
        max-width: 90vw;
    
        border-style: ridge;
        border-color: #8C3781;
        border-width: 10px;
    
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }
}
@media screen and (min-width:900px){
    #wrapperIndex{
        display: grid;
        height: 200vh;      
        width: 100vw;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 15% 20% 65%;
        grid-template-areas:
            'indexNavL h1Hd buyNav'
            'imgAsL pMn imgAsR'
            'imgAs2L nav imgAs2R'
        ;
        background-image: url(/img/export.jpg);
        background-repeat: no-repeat;
        background-position-x:center;
        background-size: 60% 100%;
        background-color: purple;
    }
    #wrapperAbyss{
        display: grid;
        height: 1000vh;      
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        grid-template-areas:
            'layer1'
            'layer2'
            'layer3'
            'layer4'
            'theDepths'
        ;
    }
    #wrapperGuide{
        display: grid;
        height: 120vh;      
        width: 100vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 25% 85%;
        grid-template-areas:
            'indexNavL h1Hd buyNav'
            'gridParry gridDodge gridAttack'
        ;
        background-color: black;
    }
    #wrapperGallery{
        display: grid;
        height: 120vh;      
        width: 100vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 25% 85%;
        grid-template-areas:
            'indexNavL h1Hd buyNav'
            'imgAsL galMn imgAsR'
        ;
        border-style: ridge;
        background: #201C1C;
    }
    
    .currentImage{
        max-width: 50vw;
    
        border-style: ridge;
        border-color: #8C3781;
        border-width: 10px;
    
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }
    .galleryButtonDesktop{
        text-decoration: none;
        color:#FF8BEF;
        font-family: 'VCR OSD Mono';
        font-size: 200%;
    
        width: 96%;
        height: 100%;
        margin: 5px;
    
        background-image: url('/img/dialogueBox.png');
        background-size: 104% 220%;
        background-position: center;
        background-repeat: no-repeat;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .galleryButtonDesktop:hover{
        text-decoration: none;
        color:#d140bd;
        font-family: 'VCR OSD Mono';
        font-size: 200%;
    
        width: 96%;
        height: 100%;
        margin: 5px;
    
        background-image: url('/img/dialogueBox.png');
        background-size: 104% 220%;
        background-position: center;
        background-repeat: no-repeat;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    

    .mobileAnchorIndex{
        display: none;
    }
    .mobileAbyss{
        display: none;
    }
    .anchorDelve{
        text-decoration: none;
        color:#FF8BEF;
        font-family: 'VCR OSD Mono';
        font-size: 200%;
    
        width: 50%;
        height: 20%;
        margin: 5px;
    
        background-image: url('/img/dialogueBox.png');
        background-size: 90% 220%;
        background-position: center;
        background-repeat: no-repeat;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .anchorDelve:hover{
        text-decoration: none;
        color:#d140bd;
        font-family: 'VCR OSD Mono';
        font-size: 200%;
    
        width: 51%;
        height: 21%;
        margin: 5px;
    
        background-image: url('/img/dialogueBox.png');
        background-size: 90% 220%;
        background-position: center;
        background-repeat: no-repeat;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.h2Delve{
    color: #FF8BEF;
    text-align: center;
    font-family:'VCR OSD Mono';
    font-size: 5rem;
}


.titleHeader_index{
    grid-area: h1Hd;
    border-style: ridge;
    border-color: #8C3781;
    border-width: 0.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titleHeader_guide{
    grid-area: h1Hd;
    border-style: ridge;
    border-color: #8C3781;
    border-width: 1rem;
    background-image: url(/img/guideBG.png);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buyNav{
    grid-area: buyNav;
    object-position: center;

    
    background-image: url('/img/dialogueBox.png');
    background-size: 104% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.galNav{
    grid-area: indexNavL;
    object-position: center;

    
    background-image: url('/img/dialogueBox.png');
    background-size: 104% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraphMain{
    grid-area: pMn;
    background-image: url('/img/dialogueBox.png');
    background-size: 100% 220%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    border-style: ridge;
    border-color: #8C3781;
    border-width: 0.4rem;
}

.imageAsideL{
    grid-area: imgAsL;
    object-position: center;

    
    background-image: url('/img/dialogueBox.png');
    background-size: 104% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imageAsideR{
    grid-area: imgAsR;
    object-position: center;

    
    background-image: url('/img/dialogueBox.png');
    background-size: 104% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.abyssNav{
    grid-area: nav;

    display: flex;
    align-items: center;
    justify-content: center;
    border-style: ridge;
    border-color: #8C3781;
    border-width: 0.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imageAside2L{
    grid-area: imgAs2L;
    object-position: center;

    
    background-image: url('/img/dialogueBox.png');
    background-size: 104% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imageAside2R{
    grid-area: imgAs2R;
    object-position: center;

    
    background-image: url('/img/dialogueBox.png');
    background-size: 104% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.h1Title{
    text-align: center;
    color: #cf00b4;
    font-family:'VCR OSD Mono';
    font-size: 3rem;
    text-shadow: black 2.5px 5px;
}

.pDescription{
    text-align: left;
    color:#FF8BEF;
    padding-top: 40px;
    padding: 30px;
    font-family:'VCR OSD Mono';
    font-size: 125%;
}

.anchorIndex{
    text-decoration: none;
    color:#FF8BEF;
    font-family: 'VCR OSD Mono';
    font-size: 200%;

    width: 96%;
    height: 100%;
    margin: 5px;

    background-image: url('/img/dialogueBox.png');
    background-size: 104% 220%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
.anchorIndex:hover{
    text-decoration: none;
    color:#d140bd;
    font-family: 'VCR OSD Mono';
    font-size: 200%;

    width: 96%;
    height: 100%;
    margin: 5px;

    background-image: url('/img/dialogueBox.png');
    background-size: 104% 220%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ABYSS */
.L1{
    grid-area: layer1;

    background-image: url(/img/layerOne.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;


    display: flex;
    align-items: baseline;
    justify-content: center;
}
.L2{
    grid-area: layer2;

    background-color: #2ea2d4;

    display: flex;
    align-items: baseline;
    justify-content: center;
}
.L3{
    grid-area: layer3;

    background-color: #6d007b;

    display: flex;
    align-items: baseline;
    justify-content: center;
}
.L4{
    grid-area: layer4;

    background-color: #d4b82e;

    display: flex;
    align-items: baseline;
    justify-content: center;
}
.L5{
    grid-area: theDepths;

    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.layerHeading{
    font-family: 'VCR OSD Mono';
    text-align: center;

    color:#d140bd;

    font-size: 3rem;
    text-shadow: black 2.5px 5px;
}
.layerDescription{
    font-family: 'VCR OSD Mono';

    color:#FF8BEF;
    text-shadow: black 1px 3px 3px;
    font-size: 1.3rem;
    margin: 2.5rem;
}

.depthsHeading{
    font-family: 'VCR OSD Mono';
    color: #811e35;

    
}
.depthsDescription{
    color: #811e35;
    font-family: 'VCR OSD Mono';

    text-shadow: black 1px 3px 3px;
    font-size: 1.3rem;
    margin: 2.5rem;
}

.layerDescriptionBox{
    background-image: url('/img/dialogueBox.png');
    background-size: 100% 200%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 20%;
    
    margin-right: 2rem;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.layerDescriptionBox:hover{
    opacity: 100%;
}

.abyssHomeButton{
    text-decoration: none;
    color:#FF8BEF;
    font-family: 'VCR OSD Mono';
    font-size: 200%;

    width: 20%;
    max-height: 10vh;
    height: 20%;
    margin: 5px;

    background-image: url('/img/dialogueBox.png');
    border-style: ridge;
    border-color: #1c0007;
    background-color: rgb(255, 0, 0);
    background-size: 104% 230%;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}



/* GUIDE */

.guideParry{
    grid-area: gridParry;
    background-color: black;

    border-style: ridge;
    border-color: #8C3781;
    border-width: 1rem;
}
.guideDodge{
    grid-area: gridDodge;
    background-color: black;

    border-style: ridge;
    border-color: #8C3781;
    border-width: 1rem;
}
.guideAttack{
    grid-area: gridAttack;
    background-color: black;

    border-style: ridge;
    border-color: #8C3781;
    border-width: 1rem;
}

.guideParagraph{
    color: #FF8BEF;
    font-family: 'VCR OSD Mono';
    margin: 10px;
}
.guideImage{
    width: 70%;
    display: block;
    margin-left: auto;
    image-rendering: pixelated;
    margin-right: auto;
}
.guideHomeButton{
    text-decoration: none;
    color:#FF8BEF;
    font-family: 'VCR OSD Mono';
    font-size: 200%;

    width: 20%;
    height: 10%;
    margin-top: 31rem;
    position: absolute;

    background-image: url('/img/dialogueBox.png');
    border-style: ridge;
    border-color: #ff3967;
    background-color: black;
    background-size: 104% 230%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* GALLERY */

#gallery{
    grid-area: galMn;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: ridge;
    border-width: .4rem;
    border-color: #891d7a;
    flex-direction: column;
    background: #201C1C;
}

.titleHeader_index{
    grid-area: h1Hd;
    border-style: ridge;
    border-color: #8C3781;
    border-width: 0.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonsGallery{
    margin-top: 3%;
}
.buttonsGallery button{
    background-image: url("/img/dialogueBox.png");
    background-size: 104% 250%;
    background-position: center;
    background-repeat: no-repeat;
    border-color:#8C3781;
    padding: 15px 45px;
    font-family: 'VCR OSD Mono';
    font-size: 18px;
    color: #FF8BEF;
}


.currentImage.changeImage{
    transform: scale(0.5, 0.5);
    opacity: 0;
}

.currentCaption{
    font-family: 'VCR OSD Mono';
    color: #FF8BEF;
    opacity: 1;
}
.currentCaption.changeImage{
    opacity: 0.5;
}

.homeButton{
    text-decoration: none;
    color:#FF8BEF;
    background-color: #811e35;
    font-family: 'VCR OSD Mono';
    font-size: 200%;

    width: 96%;
    height: 100%;
    margin: 5px;

    background-image: url('/img/dialogueBox.png');
    background-size: 104% 220%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
.homeButton:hover{
    text-decoration: none;
    color:#d140bd;
    font-family: 'VCR OSD Mono';
    font-size: 200%;

    width: 96%;
    height: 100%;
    margin: 5px;

    background-image: url('/img/dialogueBox.png');
    background-size: 104% 220%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.asideImage_index{
    width: 70%;
    margin-left: auto;
    image-rendering: pixelated;
    margin-right: auto; 
    margin-bottom: 2rem;
}
.asideImage_guide{
    height: 100%;
    margin-left: auto;
    image-rendering: pixelated;
    margin-right: auto;
    margin-bottom: 0rem;
}
.titleHeader_gallery{
    grid-area: h1Hd;
    border-style: ridge;
    border-color: #8C3781;
    border-width: 0.4rem;
    background-image: url(/img/guideBG.png);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.asideImage_gallery{
    height: 100%;
    margin-left: auto;
    image-rendering: pixelated;
    margin-right: auto;
    margin-bottom: 0rem;
}