@font-face{
    font-family: "VCR OSD Mono";
    src: url("/fonts/VCR_OSD_MONO_1.001.ttf");
}

@media screen and (max-width:768px){
    #wrapperIndex{
        display: grid;
        height: 200vh;
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 15% 10% 20% 55%;
        grid-template-areas:
            'h1Hd'
            'buyNav'
            'pMn'
            'nav'
        ; 
        background-image: url(/img/export.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media screen and (min-width:768px){
    #wrapperIndex{
        display: grid;
        height: 200vh;      
        width: 100vw;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 15% 20% 65%;
        grid-template-areas:
            'imgHd h1Hd buyNav'
            'imgAsL pMn imgAsR'
            'imgAs2L nav imgAs2R'
        ;
        background-image: url(/img/export.png);
        background-repeat: no-repeat;
        background-position-x:center;
        background-size: 60% 100%;
        background-color: purple;
    }
    #wrapperAbyss{
        display: grid;
        height: 500vh;      
        width: 100vw;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 15% 20% 65%;
        grid-template-areas:
            'layer1'
            'layer2'
            'layer3'
            'layer4'
            'theDepths'
        ;
        background-image: url(/img/Map_of_the_Abyss_Anime.png);
        background-color: black;
        background-repeat: no-repeat;
        background-position-x:center;
        background-size: 100% 80%;
    }
}
.h2Delve{
    color: #8C3781;
    text-align: center;
    font-family:'VCR OSD Mono';
    font-size: 5rem;
}


.titleHeader{
    grid-area: h1Hd;
    border-style: ridge;
    border-color: #8C3781;
    border-width: 0.4rem;
}
.buyNav{
    grid-area: buyNav;
    object-position: center;

    
    background-image: url('/img/dialogueBox.png');
    background-size: 102% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imageHeader{
    grid-area: imgHd;
    object-position: center;

    
    background-image: url('/img/dialogueBox.png');
    background-size: 102% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraphMain{
    grid-area: pMn;
    background-image: url('/img/dialogueBox.png');
    background-size: 100% 220%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    border-style: ridge;
    border-color: #8C3781;
    border-width: 0.4rem;
}
.imageAsideL{
    grid-area: imgAsL;
    object-position: center;

    
    background-image: url('/img/dialogueBox.png');
    background-size: 102% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imageAsideR{
    grid-area: imgAsR;
    object-position: center;

    
    background-image: url('/img/dialogueBox.png');
    background-size: 102% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.abyssNav{
    grid-area: nav;

    display: flex;
    align-items: center;
    justify-content: center;
    border-style: ridge;
    border-color: #8C3781;
    border-width: 0.4rem;
}
.imageAside2L{
    grid-area: imgAs2L;
    object-position: center;

    
    background-image: url('/img/dialogueBox.png');
    background-size: 102% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imageAside2R{
    grid-area: imgAs2R;
    object-position: center;

    
    background-image: url('/img/dialogueBox.png');
    background-size: 102% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.h1Title{
    text-align: center;
    color: purple;
    font-family:'VCR OSD Mono';
    font-size: 3rem;
    text-shadow: black 2.5px 5px;
}
.anchorBuy{
    color:#8C3781
}
.anchorGuide{
    color:#8C3781
}
.pDescription{
    text-align: left;
    color:#8C3781;
    padding-top: 40px;
    padding: 40px;
    font-family:'VCR OSD Mono';
    font-size: 1.3rem;
}
.buttonAside{
    width: 80%;
    height: 30%;
    margin: 5px;

    background-image: url('/img/dialogueBox.png');
    background-size: 103% 240%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonAbyss{
    width: 80%;
    height: 20%;

    background-image: url('/img/dialogueBox.png');
    background-size: 105% 230%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}



.L1{
    grid-area: layer1;
}
.L2{
    grid-area: layer2;
}
.L3{
    grid-area: layer3;
}
.L4{
    grid-area: layer4;
}
.L5{
    grid-area: theDepths;
}