@font-face{
    font-family: "VCR OSD Mono";
    src: url("/fonts/VCR_OSD_MONO_1.001.ttf");
}

@media screen and (max-width:768px){
    #wrapperIndex{
        display: grid;
        height: 200vh;
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 15% 10% 20% 55%;
        grid-template-areas:
            'h1Hd'
            'buyNav'
            'pMn'
            'nav'
        ;
        background-color: white;
    }
}
@media screen and (min-width:768px){
    #wrapperIndex{
        display: grid;
        height: 200vh;
        width: 100vw;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 15% 20% 65%;
        grid-template-areas:
            'imgHd h1Hd buyNav'
            'imgAsL pMn imgAsR'
            'imgAs2L nav imgAs2R'
        ;
        background-color: blue;
    }
}


.titleHeader{
    grid-area: h1Hd;
}
.buyNav{
    grid-area: buyNav;
    object-position: center;

    
    background-image: url('/img/dialogueBox.png');
    background-size: 100% 150%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
.imageHeader{
    grid-area: imgHd;
}

.paragraphMain{
    grid-area: pMn;
    background-image: url('/img/dialogueBox.png');
    background-size: 100% 230%;
    background-position: 0;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.imageAsideL{
    grid-area: imgAsL;
}
.imageAsidecR{
    grid-area: imgAsR;
}

.abyssNav{
    grid-area: nav;

    display: flex;
    align-items: center;
    justify-content: center;
}
.imageAside2L{
    grid-area: imgAs2L;
}
.imageAside2R{
    grid-area: imgAs2R;
}




.h1Title{
    text-align: center;

    font-size: 2.5rem;
}
.anchorBuy{
    color:#8C3781
}
.pDescription{
    text-align: left;
    color:#8C3781;
    padding-top: 40px;
    padding: 40px;
    font-family:'VCR OSD Mono';
    font-size: 1.3rem;
}
.buttonAbyss{
    width: 80%;
    height: 20%;

    background-image: url('/img/dialogueBox.png');
    background-size: 105% 230%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
.h2Delve{
    color: #8C3781;
    text-align: center;
    font-family:'VCR OSD Mono';
    font-size: 5rem;
}